# ----------------------------------------------------
# BASIC PROTECTION
# ----------------------------------------------------

# Disable directory listing
Options -Indexes

# Block direct access to sensitive file types
<FilesMatch "\.(json|sh|ini|log|bak|OLD)$">
  Require all denied
</FilesMatch>

# Protect the .htaccess file itself
<Files .htaccess>
  Require all denied
</Files>

# Protect the .json files in archive/
# Protect .php files in includes
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^archive/.*\.json$ - [F,L]
  RewriteRule ^includes/.*\.php$ - [F,L]
</IfModule>


# ----------------------------------------------------
# BASIC HTTPS HEADERS
# ----------------------------------------------------
<IfModule mod_headers.c>
  Header always set X-Content-Type-Options "nosniff"
  Header always set X-Frame-Options "SAMEORIGIN"
  Header always set X-XSS-Protection "1; mode=block"
  Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains" env=HTTPS
</IfModule>

# ----------------------------------------------------
# Set UTF-8 as default charset
# ----------------------------------------------------
AddDefaultCharset utf-8
